//@import '@styles/mixin.module.scss';
@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;

.btn {
    @include btn(176px, 42px, $primary_color, 3px);
    color: $white_color;
    font-size: 14px;
    font-weight: 300;
    //padding: 13px 45px;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: $primary_color;
        border: 1px solid $primary_color;
        transition: background-color 300ms;
    }
}

.btn2 {
    @include btn(44px, 44px, #fff, 50%);
}
