@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;
.container {
    background-image: url('../../assets/images/CountdownBanner.png');
    height: 409px;
    width: calc(100% / 2);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    //margin-bottom: -80px;
}

.containerTimer {
    @include flex_box_custom(center, center, 15px);
}
.title {
    //color: $four_color;
    color: $white_color;
    font-size: 28px;
    margin-bottom: 5px;
    text-align: center;
}

.boxBtn {
    margin-top: 20px;
    text-align: center;
}
