@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as *;
.container {
    //height: 144px;
    background-color: $primary_color;
    margin-top: -75px;
    padding: 20px 50px;
    @include flex_box_custom(space-between, center, 0px);
}

.containerCard {
    width: 280px;
    height: 104px;
    @include flex_box_custom(center, center, 15px);
}

.containerContent {
    @include flex_box_custom(center, flex-start, 11px);

    flex-direction: column;
    color: $white_color;
    font-weight: 200;
    .title {
        font-size: 17px;
    }

    .des {
        font-size: 16px;
        color: #ffffffc7;
    }
}
