@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;
.container {
    margin: 65px 0px 15px;
    //margin-top: -30px;
    //margin: 20px 0;
    //margin-top: 40px; /* hoặc 60px nếu muốn xa hơn */
    @include flex_box_custom(center, center, 0px);
}

.headline {
    width: 100%;
    height: 2px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 30px;
}
.containerMiddleBox {
    @include flex_box_custom(center, center, 0px);
    width: 60%;
    padding: 0px 50px;
    flex-direction: column;
    line-height: 0px;
}

.des {
    font-size: 14px;
    color: $th_color;
    text-transform: uppercase;
}

.title {
    font-size: 24px;
    color: $primary_color;
}
