@use '@styles/variable.module.scss' as *;
.box {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    //border: 1px solid black;
    margin-top: 150px;
}

.title {
    font-size: 18px;
    color: $secondary_color;
}
