.wrapLayout {
    display: flex;
    justify-content: center;
    //align-items: flex-start; /* tránh đẩy xuống giữa */
}

.container {
    width: 1250px;
    min-height: auto;
    //padding-top: 100px;
}
