//@import '@styles/mixin.module.scss';
@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
    @include flex_box_custom(center, center, 0px);
    //background-color: bisque;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    //justify-content: space-around;
    justify-content: space-between;
    height: 83px;
}
.containerBoxIcon {
    @include flex_box_custom(center, center, 10px);
}
.containerBox {
    @include flex_box_custom(center, center, 20px);
}
.containerMenu {
    @include flex_box_custom(center, center, 20px);
}
.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);
    background-color: $primary_color;
    width: 26px;
    height: 26px;
}
.menu {
    cursor: pointer;
    padding-top: 5px;
    font-size: 15px;
    color: $primary_color;
}
.menu::after {
    content: '';
    display: block;
    height: 3px;
    background-color: $primary_color;
    transform-origin: right;
    //transform: scaleX(0);
    transform: scale(0);
    transition: transform 300ms, opacity 500ms;
    opacity: 0;
}

.menu:hover::after {
    opacity: 1;
    transform: scale(1);
}
