@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;
.container {
    @include flex_box_custom(center, center, 0px);
    background-image: url(../../assets/images/BG.png);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    //background-position: center;
}

.content {
    @include flex_box_custom(center, center, 20px);
    flex-direction: column;
}

.title {
    font-size: 42px;
    color: $four_color;
    font-weight: 400;
    margin: 15px 0;
}
.des {
    color: $th_color;
    margin-bottom: 15px;
}
